@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body{
  background: #441908;
    color: #D8DFE9;
}
.clock{
  height: 100%;
  padding-top:100px;
  text-align:center;
  font-size:60px;
  font-family: orbitron;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}